{
    "arrowParens": "avoid",
    "semi": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "tabWidth": 2,
                "printWidth": 500
            }
        },
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
