{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.yml", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
