[tool.poetry]
name = "mkdocs-jupyter"
version = "0.18.0"
packages = [{ include = "mkdocs_jupyter" }]
homepage = "https://github.com/danielfrg/mkdocs-jupyter"
repository = "https://github.com/danielfrg/mkdocs-jupyter"
documentation = "https://github.com/danielfrg/mkdocs-jupyter"
description = "Use Jupyter in mkdocs websites"
authors = ["Daniel Rodriguez"]
maintainers = ["Daniel Rodriguez"]
license = "Apache License, Version 2.0"
readme = "README.md"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Operating System :: OS Independent",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Topic :: Scientific/Engineering",
]
include = ["mkdocs_jupyter/**/assets/*"]

[tool.poetry.plugins]
[tool.poetry.plugins."mkdocs.plugins"]
"mkdocs-jupyter" = "mkdocs_jupyter.plugin:Plugin"


[tool.poetry-version-plugin]
source = "init"

[tool.poetry.dependencies]
python = ">=3.7.1,<4"
nbconvert = ">=6.0.7,<7"
jupytext = ">=1.11.0,<2"
mkdocs = ">=1.1.0,<2"
mkdocs-material = "^7.2.8"

[tool.poetry.dev-dependencies]
# [tool.poetry.group.dev]
# optional = true
# [tool.poetry.group.dev.dependencies]
black = "21.9b0"
flake8 = "^3"
isort = "^5"
pylint = "^2.11.1"

# [tool.poetry.group.test]
# optional = true
# [tool.poetry.group.test.dependencies]
pytest = "^6.2.5"
pytest-cov = "^2.12.1"
ipykernel = "^6.4.1"
pymdown-extensions = "^8.2"

[tool.pytest.ini_options]
addopts = [
  "-s", "-vv",
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--ignore=dist",
  "--strict-markers",
  "--cov=mkdocs_jupyter",
  "--cov-report=term-missing",
  "--cov-config=pyproject.toml",
]
xfail_strict = true
norecursedirs = ["site-packages", "dist-packages", "dist"]

[tool.coverage.run]
parallel = true
branch = true

[tool.black]
line_length = 79
skip_string_normalization = true

[tool.isort]
ensure_newline_before_comments = true
line_length = 79
multi_line_output = 3
include_trailing_comma = true
profile = "black"

[tool.pydocstyle]
inherit = false
convention = "numpy"
match_dir = "mkdocs_jupyter"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105"]

[build-system]
requires = ["poetry>=1.1", "setuptools>=57,<58"]
build-backend = "poetry.masonry.api"
