# Used for CI: It should match environment.yml

# Dev tools
setuptools
setuptools_scm
pylint
flake8
black
isort
twine
wheel

# Examples
jupyterlab
pandas
matplotlib
plotly
bokeh
ipywidgets

# Package deps
mkdocs>=1.1.0,<2
nbconvert>=6.0.7,<7
jupytext>=1.11.0,<2

# Testing
pytest
pytest-cov
mkdocs-material
mkdocs-minify-plugin
pygments
pymdown-extensions
