# Used for CI - It should match environment.yml

# Base conda deps
setuptools
setuptools_scm
pylint
flake8
black
isort
twine
wheel
pytest
pytest-cov

# This project conda deps
notebook
nbconvert

# This project pip deps
mkdocs
mkdocs-material
mkdocs-minify-plugin
pygments
pymdown-extensions
